.field {
    width: 100%;
    height: 100vh;
    background-color: #D5DFD8;
    /* position: absolute; */
    /* overflow-y: scroll; */
    position: relative;
}

.article-field{
    overflow-y: scroll;
    top: 100px;
    position: absolute;
    width: 100%;
    height: 60%;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.article-field::-webkit-scrollbar {
    display: none;
}

.tree-wrapper {
    
}

.tree-size-wrapper{
    
}