

@media (min-width: 850px) {
    .article-rectangle {
        position: relative;
        width: 750px;
        height: 70px;
        background: rgba(0, 100, 65, 0.9);
        border-radius: 10px;
    }
}

@media (max-width: 850px) {
    .article-rectangle{
        position: relative;
        width: 250px;
        height: 70px;
        background: rgba(0, 100, 65, 0.9);
        border-radius: 10px;
    }
}

.article-title {
    position: absolute;
    left: 15px;
    top: 5px;
    /* width: 102px; */
    height: 64px;
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 64px;
    /* identical to box height */
    text-align: center;
    color: #DDDDDD;
}

.article-date {
    position: absolute;
    width: 200px;
    height: 35px;
    bottom: 0px;
    right: 5%;
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;
    color: #DDDDDD;
}


.article-first-tag {
    position: absolute;
    width: 100px;
    height: 30px;
    right: 10%;
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 38px;
    text-align: center;
    color: #DDDDDD;
}