.column {
    height: 500px;
    text-align: center;
}

.navigation_button {
    width: 100%;
}

.column_content {}

body {
    background-color: #493759;
    color: white;
}

#navigation {
    display: flex;
    margin-left: 20px;
}