.column {
    height: 500px;
    text-align: center;
}

.navigation_button {
    width: 100%;
}

.column_content {}

body {
    background-color: #493759;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#navigation {
    display: flex;
    margin-left: 20px;
}

#ABOUT{

}
#BLOG{

}
#Notes{

}
#Projects{

}

#top_page{

}